<%= turbo_frame_tag "dashboard_content" do %>
  <div class="space-y-4">
    <div class="flex justify-between items-center mb-6">
      <div>
        <h2 class="text-xl font-semibold text-[#1A2B3C]">Catalogo</h2>
        <p class="text-gray-500 text-base">Gestiona lo que vendes en tu tienda.</p>
      </div>

      <%= render Buttons::Component.new(
        text: "Agregar producto",
        icon: render_svg("plus.svg", styles: "w-4 h-4"),
        data: { turbo_frame: "modal" },
        href: new_admin_product_path,
        classes: "[&_span:not(.shrink-0)]:hidden md:[&_span:not(.shrink-0)]:inline",
      ) %>

    </div>

    <div class="flex gap-2 mb-4">
      <%= render Buttons::Component.new(
        text: "Activos (#{current_user.store.products.active.count})",
        href: admin_root_path(tab: "products", status: "active"),
        pill: true,
        data: { turbo_frame: "dashboard_content" },
        variant: @product_status == "active" ? :primary : :outline
      ) %>

      <%= render Buttons::Component.new(
        text: "Desactivados (#{current_user.store.products.inactive.count})",
        href: admin_root_path(tab: "products", status: "inactive"),
        pill: true,
        data: { turbo_frame: "dashboard_content" },
        variant: @product_status == "inactive" ? :primary : :outline
      ) %>
    </div>

    <div id="products_list" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <% products.each do |product| %>
        <%= render "admin/products/product_card", product: product %>
      <% end %>
    </div>

    <% unless products.any? %>
      <div id="empty_products_message" class="flex flex-col items-center justify-center py-16 px-4 bg-[#F3F4F6] rounded-2xl border-2 border-dashed border-gray-200 text-center mx-4 md:mx-0">
        <div class="bg-white p-4 rounded-full shadow-sm mb-4 mt-4">
          <%= render_svg("paint.svg", styles: "w-8 h-8 text-primary") %>
        </div>
        <% if @product_status == 'active' %>
          <h3 class="text-lg font-bold text-[#1A2B3C] mb-2">Tu catálogo está vacío</h3>
          <p class="text-gray-500 mb-8 max-w-xs mx-auto leading-relaxed">
            ¡Es hora de llenar tu tienda! Agrega tu primer producto para empezar a vender hoy mismo.
          </p>
        <% else %>
          <h3 class="text-lg font-bold text-[#1A2B3C] mb-2">No tienes productos desactivados</h3>
          <p class="text-gray-500 mb-8 max-w-xs mx-auto leading-relaxed">
            Todos tus productos están activos y visibles en tu tienda.
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>