<%= turbo_frame_tag "dashboard_content" do %>
  <div class="space-y-4">
    <div class="mb-6 flex items-center justify-between">
      <div>
        <h2 class="text-xl font-semibold text-[#1A2B3C]">Catalogo</h2>
        <p class="text-base text-gray-500">Gestiona los productos en tu tienda.</p>
      </div>

      <%= render Buttons::Component.new(
        text: "Agregar producto",
        icon: render_svg("plus.svg", styles: "w-4 h-4"),
        data: { turbo_frame: "modal" },
        href: new_admin_product_path,
        classes: "[&_span:not(.shrink-0)]:hidden md:[&_span:not(.shrink-0)]:inline",
      ) %>
    </div>

    <div class="mb-4 flex gap-2">
      <%= render Buttons::Component.new(
        text: "Activos (#{current_user.store.products.active.count})",
        href: admin_root_path(tab: "products", status: "active"),
        pill: true,
        data: { turbo_frame: "dashboard_content" },
        variant: @product_status == "active" ? :primary : :outline
      ) %>

      <%= render Buttons::Component.new(
        text: "Desactivados (#{current_user.store.products.inactive.count})",
        href: admin_root_path(tab: "products", status: "inactive"),
        pill: true,
        data: { turbo_frame: "dashboard_content" },
        variant: @product_status == "inactive" ? :primary : :outline
      ) %>
    </div>

    <div
      id="products_list"
      class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3"
      data-controller="animation-products"
    >
      <% products.each do |product| %>
        <%= render "admin/products/product_card", product: product %>
      <% end %>
    </div>

    <% unless products.any? %>
      <div
        id="empty_products_message"
        class="
          mx-4 flex flex-col items-center justify-center rounded-2xl border-2 border-dashed border-gray-200
          bg-[#F3F4F6] px-4 py-16 text-center md:mx-0
        "
      >
        <div class="mt-4 mb-4 rounded-full bg-white p-4 shadow-sm">
          <%= render_svg("paint.svg", styles: "w-8 h-8 text-primary") %>
        </div>

        <% if @product_status == 'active' %>
          <h3 class="mb-2 text-lg font-bold text-[#1A2B3C]">Tu catálogo está vacío</h3>
          <p class="mx-auto mb-8 max-w-xs leading-relaxed text-gray-500">
            ¡Es hora de llenar tu tienda! Agrega tu primer producto para empezar a vender hoy mismo.
          </p>
        <% else %>
          <h3 class="mb-2 text-lg font-bold text-[#1A2B3C]">No tienes productos desactivados</h3>
          <p class="mx-auto mb-8 max-w-xs leading-relaxed text-gray-500">
            Todos tus productos están activos y visibles en tu tienda.
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
